.dot-wrapper {
  background: url("https://s3.us-west-1.amazonaws.com/thestratbook/dev-images/map.png") no-repeat center center;
  height: 300px;
  width: 300px;
  background-size: cover;
  position: relative;
}

.dot {
  background-color: red;
  height: 10px;
  width: 10px;
  position: absolute;
  pointer-events: none;
  border-radius: 5px;
  transform: translate(-5px, -5px);
}
