.dot-wrapper {
  background-size: cover;
  position: relative;
}

.dot {
  background-color: red;
  height: 10px;
  width: 10px;
  position: absolute;
  border-radius: 5px;
  transform: translate(-5px, -5px);
  cursor: -webkit-grab;
  cursor: grab;
}

.grabbing {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
